<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link href="assets/css/style.css" rel="stylesheet"/>
</head>
<body>
  <div id="menu">
    <%=
      begin
        LunchDiviner.new(:html).get_menu
      rescue
        'Menu not available.'
      end
    %>
  </div>
</body>
</html>

